extends ../layout

block content
    a(href='/usuarios') Volver
    br
    br
    h1 Nuevo Usuario
    br
    br
    form.form-inline.d-flex(method='post')
        .row
            .col-md-10.col-lg-8.mx-auto
                label(for='nombre') Nombre
                input#nombre.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='text' name='nombre' placeholder='Nombre')

                label(for='email') Email
                input#email.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='text' name='email' placeholder='Email')

                label(for='password') Contraseña
                input#password.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='password' name='password' placeholder='Password 1')

                label(for='confirm_password') Repetir Contraseña
                input#confirm_password.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='password' name='confirm_password' placeholder='Password 2')

                button.btn.btn-primary.mx-auto(type='submit') Submit

