extends ../layout

block content
    a(href='/bicicletas') Volver
    br
    br
    h1 Nueva bicicleta
    br
    br
    form.form-inline.d-flex(method='post')
        .row
            .col-md-10.col-lg-8.mx-auto
                label(for='id') Id
                input#id.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='text' name='id' placeholder='Identifier')

                label(for='color') Color
                input#color.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='text' name='color' placeholder='Color')

                label(for='modelo') Modelo
                input#modelo.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='text' name='modelo' placeholder='Modelo')

                label(for='lat') Ubicaci贸n lat
                input#lat.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='text' name='lat' placeholder='Ubicaci贸n 1')

                label(for='lng') Ubicaci贸n lng
                input#lng.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='text' name='lng' placeholder='Ubicaci贸n 2')

                button.btn.btn-primary.mx-auto(type='submit') Submit

